input[type="radio"] {
    display: none;
}

label {
    background-color: #2d1c3f;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 4px;
    margin: 4px 12px;
}

.label-text {
    color: #8eacff;
}

input[type="radio"]:checked+label {
    background-color: #8eacff;
}

input[type="radio"]:checked+label .label-text {
    color: #2d1c3f;
}